<div class="ba-uxd-node-wrapper" *ngIf="_node">
  <div #nodes *ngFor="let node of _decisionGraphSteps">
    <div class="ba-uxd-node-container">
      <div class="ba-uxd-node" *ngIf="!node.tasknode">
        <div
          class="ba-uxd-node-content"
          [innerHTML]="getSanitizedNodeText(node.text)"
        ></div>
        <div *ngIf="node.path.length">
          <button
            class="ba-uxd-edge-button"
            *ngFor="let edge of node.path.sort()"
            [ngClass]="
          {
            'ba-uxd-yes-edge': edge.text.toLowerCase().includes('yes'),
            'ba-uxd-no-edge': edge.text.toLowerCase().includes('no')
          }"
            [disabled]="edge.selected === false"
            (click)="setNextNode(edge)"
          >
            {{edge.text}}
          </button>
        </div>
      </div>
    </div>
    <div class="ba-uxd-tasknode-container" *ngIf="node.tasknode">
      <div class="ba-uxd-task-node-wrapper">
        <div class="ba-uxd-tasknode">
          <div
            class="ba-uxd-tasknode-content"
            [innerHTML]="getSanitizedNodeText(node.text)"
          ></div>
          <div *ngIf="node.path.length">
            <button
              class="ba-uxd-edge-button ba-uxd-tasknode-edge-button"
              *ngFor="let edge of node.path.sort()"
              [ngClass]="
          {
            'ba-uxd-yes-edge': edge.text.toLowerCase().includes('yes'),
            'ba-uxd-no-edge': edge.text.toLowerCase().includes('no')
          }"
              [disabled]="edge.selected === false"
              (click)="setNextNode(edge)"
            >
              {{edge.text}}
            </button>
          </div>
        </div>
      </div>
      <ba-decision-graph-node-nav
        *ngIf="isTasknode()"
        [_inTasknode]="isTasknode()"
        [_showBackButton]="_started"
        (_resetToInitial)="resetToInitial()"
        (_undoLastStep)="undoLastStep()"
      ></ba-decision-graph-node-nav>
    </div>
  </div>
</div>
<ba-decision-graph-node-nav
  *ngIf="!isTasknode()"
  [_inTasknode]="isTasknode()"
  [_showBackButton]="_started"
  (_resetToInitial)="resetToInitial()"
  (_undoLastStep)="undoLastStep()"
></ba-decision-graph-node-nav>
