<div class="ba-uxd-navigation-wrapper">
  <div class="ba-uxd-navigation">
    <ng-container *ngIf="!_inTasknode">
      <button
        id="uxdgBack"
        class="ba-uxd-navigation-button"
        *ngIf="_showBackButton"
        (click)="undoLastStep()"
        dt-button
        variant="secondary"
      >
        Back
      </button>
      <button
        id="uxdgStartover"
        class="ba-uxd-navigation-button"
        (click)="resetToInitial()"
        dt-button
      >
        Reset progress
      </button>
    </ng-container>
    <ng-container *ngIf="_inTasknode">
      <button
        id="uxdgBackTask"
        class="ba-uxd-navigation-taskbutton"
        *ngIf="_showBackButton"
        (click)="undoLastStep()"
      >
        Back
      </button>
      <button
        id="uxdgStartoverTask"
        class="ba-uxd-navigation-taskbutton ba-uxd-navigation-taskbutton-startover"
        (click)="resetToInitial()"
      >
        Reset progess
      </button>
    </ng-container>
  </div>
</div>
